<%- include("partials/header") -%> 

<h1>Home</h1>
<p><%= homeParagraph %> </p>

<% if (journals.length !== 0) { journals.forEach(function(journal) { %>
    <div>
        <h2><%= journal.title %></h2>
        <!-- Truncate the content to 100 characters -->
        <p>
            <%= journal.content.substring(0, 100) + "..." %>
            <a href="/journal/<%=journal._id%>">Read More</a>
        </p>
    </div>
<% })} else { %>
    <div></div>
<% } %> 

<%- include("partials/footer") -%> 